@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileCompanyService CompanyService
@model ContosoCrafts.WebSite.Pages.Companies.ReadModel

@{
    ViewData["Title"] = "Read page";
}

<h1>@Model.Company.Name</h1>

<div class="container">
    <table class="table table-bordered table-striped">
        <tr>
            <th>Job Role Name</th>
            <th>H1B Support</th>
        </tr>
        <tr>
            <td class="title" id="companyId">@Model.Company.JobRoleName</td>
            <td class="title" id="companyId">@Model.Company.H1BSupport</td>
        </tr>
    </table>
</div>

<br />
<br />

<div class="row">
    <a asp-page="Update" asp-route-id="@Model.Company.Id" class="btn btn-primary">Update</a> &nbsp; &nbsp;
    <a asp-page="Delete" asp-route-id="@Model.Company.Id" class="btn btn-danger">Delete</a>
</div>